body{
    background-color: black;
    font-family: 'Proxima Nova', sans-serif;
}

/* MENU */
nav {
    text-align: left
}

nav a {
    display: inline-block;
    padding: 10px;
    background-color: rgb(0, 0, 0);
    text-decoration: none;
    color: white;
    font-weight: bold;

}

nav a:first-child {
    background-color: rgb(79, 79, 255);
    border-radius: 6%;
  }

  nav a:hover {
    background-color: rgb(79, 79, 255);
    border-radius: 6%;
  }

/* MENU DERECHA */

.copiarIPnav{
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    padding: 10px;
}

#myButton {
    background-color: #df71f5; /* color morado claro */
    padding: 10px;
    border-radius: 4%;
    color: #8a4797; /* color blanco */
    top: 20px; /* margen superior de 20px */
    right: 20px; /* margen derecho de 20px */
    font-weight: bold;
}

#myButton:hover {
    background-color: #ea98fa; /* color morado más claro */
}