body{
    background-color: black;
    font-family: 'Proxima Nova', sans-serif;
}

.header  {
    padding-top: 1.5rem;
    min-width: 992px;
    display: flex;
    align-items: center;
    position: relative;
}

.header-nav {
    margin-left: auto;
    margin-right: auto;
    z-index: 40;
    max-width: 1100px;
    padding-left: 15px;
    padding-right: 15px;
}